body{
    font-size: 1.3em;
    /* line-height: 2; */
    letter-spacing: 0.5px;
    width: 97%;
    margin: 0 auto;
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
}

h1{
    text-align: center;
}

#container{
    background: linear-gradient(0deg, rgb(85, 241, 215), rgb(51, 153, 255));
    border-radius: 12px;
    padding: 1.5em;
    margin-top: 3em;
}

div{
    line-height: 1.8;
}

input[type=text]{
    text-align: center;
    font-size: 1.1em;
}

input, label{
    width: 100%;
}

@media(min-width: 700px) {
    body{
        width: 60%;
        /* background: url("background.jpg"); */
        margin-top: 3.5em;
    }

    #container{
        opacity: 0.9;
    }

    input, label{
        display: inline-block;
        width: 45%;
    }
}

#newBill, #tipEach{
    margin-left: 10px;
}
